{% extends "base.html" %}
{% load static %}
{% block bodyblock %}
<header class="container col-12">
    <div class="d-flex align-items-center justify-content-center"style="height: 350px; width:100%; background-image:url('/static/img/gae2.jpg'); background-size:100%;">
        <h1>Header</h1>
    </div>
</header>

<footer class="container col-12 fixed-bottom px-5">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">EUNSOL</a>
      <a class="navbar-brand" href="/details/">상단으로 올라가기</a>
    </nav>
</footer>

{% endblock %}