{% extends "base.html" %}
{% load static %}
{% block bodyblock %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card position-fixed" style="width: 18rem;">
      <img src="{% static 'img/gae5.jpg' %}" class="card-img-top rounded-circle"  alt="...">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Logout</a>
      </div>
    </div>
    </div>
    <div class="col">
    <div class="card">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/gae6.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">작성글</h5>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/gae2.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">작성글</h5>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/gae3.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">작성글</h5>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/gae4.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">작성글</h5>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    </div>
  </div>
  </div>




{% endblock %}